body {
  background-color: DeepSkyBlue; 
  background-image: linear-gradient(135deg,#ffe125,#33BFFF,#ffe125);
  color: midnightblue;
  min-height: 100vh;           
  }
H1 {
  text-align: center;
  background-color: #eee;
  border-radius: 55px;
  filter: drop-shadow(10px 10px 15px blue);
  font-size: 50px;
  }
p {
  text-align: center;
  font-size: 35px;
  }
div {
  text-align: center;
  font-size: 35px;
  }
form {
  text-align: center;
  font-size: 35px;
  }
input {
  font-size: 35px;
  }
button {
  border: solid gainsboro;
  font-size: 30px;
  margin: 15px;
  border-radius: 40px;
  filter: drop-shadow(10px 10px 10px blue);
  }
input[type='radio'] {
  transform: scale(3);
  margin: 10px;
  vertical-align:10px;
  }
input[type='checkbox'] {
  transform: scale(3);
  margin: 10px;
  vertical-align:10px;
  }
