    body {
            background: transparent !important;
         }
    H1 {
        text-align: center;
        background-color: #eee;
        border-radius: 40px;
        filter: drop-shadow(10px 10px 15px blue);
        font-size: 40px;
        }
    p {
        text-align: center;
        font-size: 30px;
        }
    div {
       text-align: center;
       font-size: 30px;
       }
    form {
           text-align: center;
           font-size: 30px;
           }
    input { font-size: 30px;
            }
    button {
        border: solid gainsboro;
        font-size: 30px;
        margin: 15px;
        border-radius: 35px;
        filter: drop-shadow(10px 10px 10px blue);
        }
    input[type='radio']
        {
          transform: scale(3);
          margin: 10px;
          vertical-align:10px;
          }
    input[type='checkbox']
        {
          transform: scale(3);
          margin: 10px;
          vertical-align:10px;
          }

