{% extends "base.html" %}

{% block inhalt %}
    <p>
    <b>Welche Art von QR-Code soll generiert werden?</b><br>
    <div><button><a href="./text.html">einfacher Text </a></button></div>
    <div><button><a href="./url.html">URL/Website-Link</a></button></div>
    <div><button><a href="./tel.html">Telefonnummer</a></button></div>
    <!--<div><button><a href="./vcard.html">Visitenkarte (vCard)</a></button></div>-->
    <!--<div><button><a href="./geo.html">geographische Koordinaten</a></button></div>-->
    <div><button><a href="./mail.html">EMail-Adresse</a></button></div>
    <<div><button><a href="./wifi.html">WIFI</a></button></div>
    <div><button><a href="./cal.html">Kalender-Termin</a></button></div>
{% endblock %}
